header {
    display:flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid rgb(29, 28, 28);
    background-color: rgb(222, 241, 241);   
}

h1,h2,h3 {
    color: rgb(94, 140, 205);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 5px;
}

h2 {
    font-size: 15px;   
    font-weight: 600;
}

h3 {
    font-size: 14px;  
    font-weight: 400;
}
p.highlight {
    background-color: yellow;
}

a.btn:hover {
    background-color: #ff6600;
    color: white;
    text-decoration: none;
}

ul li {
    list-style-type: circle;
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

table {
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
    width: fit-content;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid rgb(29, 28, 28);
    background-color: rgb(222, 241, 241);
}

thead {
    background-color: rgb(54, 115, 115);
    color: white;
    font-size: large;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="submit"] {
    background-color: rgb(54, 115, 115);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    margin-left: 10px;
}



th,
td {
    padding: 8px;
    text-align: left;
    width: fit-content;
}

th {
    background-color: rgb(222, 241, 241);
}

.error {
    width: fit-content;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color:#ff6600;
}